// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

$primary   : #1ED74B;
$secondary : #19B23E;
$accent    : #2F80ED;

$dark      : #262626;
$dark-page : #F8F8F8;

$positive  : #1ED74B;
$negative  : #E5484D;
$info      : #2F80ED;
$warning   : #F2C94C;
